<a href="/" class="brand-logo hide-on-med-and-up">FTW</a>
<a href="/" class="brand-logo hide-on-small-only">FortuneTellerWealth</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  {{nav-links session=session}}
</ul>
