<a href="/" class="brand-logo">FortuneTellerWealth</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  {{#if session.isAuthenticated}}
    {{#link-to 'accounts' tagName="li"}}<a>Accounts</a>{{/link-to}}
    <li><a {{action 'invalidateSession'}}>Logout</a></li>
  {{else}}
    {{#link-to 'login' tagName="li"}}<a>Login</a>{{/link-to}}
  {{/if}}
</ul>
