<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">FortuneTellerWealth</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session.isAuthenticated}}
          {{#link-to 'accounts' tagName="li"}}<a>Accounts</a>{{/link-to}}
          <li><a {{action 'invalidateSession'}}>Logout</a></li>
        {{else}}
          {{#link-to 'login' tagName="li"}}<a>Login</a>{{/link-to}}
        {{/if}}
      </ul>
      <ul id="slide-out" class="side-nav">
        {{#if session.isAuthenticated}}
          {{#link-to 'accounts' tagName="li"}}<a>Accounts</a>{{/link-to}}
          <li><a {{action 'invalidateSession'}}>Logout</a></li>
        {{else}}
          {{#link-to 'login' tagName="li"}}<a>Login</a>{{/link-to}}
        {{/if}}
      </ul>
      <a href="/" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
