html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

  font-family: "fira-sans", sans-serif;
  font-weight: normal;
  // color: $off-black;
  // background-color: rgba(0, 0, 0, 0.87);
}
