@import 'components/color';
@import 'colors';
@import 'materialize';
@import 'ember-cli-materialize';
@import 'html';
@import 'cursor';
@import 'plaid';
@import 'liquid-outlet';

.stat {
  font-size: 2.5rem;
  line-height: 1;
  color: $secondary-color;
}

p + .stat {
  margin-top: -1rem;
}
