<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  {{#link-to 'accounts.link' class="btn-floating btn-large z-depth-5"}}
    <i class="large mdi-content-add">add</i>
  {{/link-to}}
</div>
<ul class="collection z-depth-1 hide-on-med-and-up">
  {{accounts-list model=model}}
</ul>
<div class="col m12">
  <div class="card hide-on-small-only">
    <div class="card-content">
      Select an account to the left to see transaction details
    </div>
  </div>
</div>
