<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  {{#link-to 'accounts.new' class="btn-floating btn-large z-depth-1"}}
    <i class="large mdi-content-add">add</i>
  {{/link-to}}
</div>
<ul class="collection z-depth-1">
  {{#if model}}
    {{#each model as |account|}}
      {{#link-to 'transactions' account class="collection-item pointer" tagName="li"}}
        <a>{{account.description}}
          <div class="secondary-content">{{format-number account.postedBalance}}</div>
        </a>
      {{/link-to}}
    {{/each}}
  {{else}}
    <li class="collection-item">Looks like you don't have any accounts yet. Why don't you go ahead and
      {{#link-to 'accounts.new'}}add one{{/link-to}}?
    </li>
  {{/if}}
</ul>
