<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      {{nav-bar session=session}}
      {{side-nav session=session}}
    </div>
  </nav>
</div>
<div class="container">

  {{outlet}}

  {{!-- ember-cli-materialize modal container --}}
  {{md-modal-container}}
</div>
